@page
@model OdeToFood.Pages.Restaurants.ClientRestaurantModel
@{
    ViewData["Title"] = "ClientRestaurant";
}

<h1>ClientRestaurant</h1>

@section Scripts  {
    <environment include="Development">
        <script src="~/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="~/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
        <link href="~/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" />
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    </environment>
    <script>
        $(function () {
            $.ajax("/api/restaurants/", { method: "get" })
                .then(function (reponse) {
                    console.log(reponse);
                });
        });
    </script>
}