@model AuthoringTagHelpers.Models.WebsiteContext
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<address>
    <strong>Support:</strong><email>Support</email><br />
    <strong>Marketing:</strong><email>Marketing</email>
</address>

<p bold>Use this area to provide additional information.</p>
<bold> Is this bold?</bold>


<h3> web site info </h3>
<website-information info="Model" />